@tailwind base;
@tailwind components;
@tailwind utilities;

input:checked + div {
    @apply border-blue-500;
}
input:checked + div svg {
    @apply block;
}

.blink {
    animation: blinker 1s step-start infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }