[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-socketio = "*"
flask-sqlalchemy = "*"
gevent = "*"
flask-cors = "*"
python-dotenv = "*"
flask-httpauth = "*"
eventlet = "*"

[dev-packages]
pytest = "*"
coverage = "*"

[requires]
python_version = "3.8"
