.container {
    height: 100vh;
    display: flex;
    margin: auto;
    align-items: center;
}

.extras {
    display: flex;
    margin: auto;
    height: 750px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.scoresTable {
    width: 300px;
    display: flex;
    margin: auto;
    margin-right: 0;
    justify-content: center;
}
.rack {
    display: flex;
    margin: auto;
    margin-right: 0;
    flex-direction: column;
}
.rackPieces {
    display: flex;
    width: 354px;
    height: 54px;
    border: 2px black solid;
    background: #bdb4b4;
    margin: auto;
}

.boardContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.legend {
    display: flex;
    justify-content: space-between;
    width: 765px;
    align-items: center;
    padding: 10px;
    height: 50px;
}

.legendItem {
    display: flex;
    justify-content: space-evenly;
    padding: 2px;
}

.legendColor {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    border: 1px black solid;
}

.legendTL {
    background-color: rgb(39, 51, 160);
}

.legendDL {
    background-color: cornflowerblue;
}

.legendDW {
    background-color: rgb(237, 143, 100);
}

.legendTW {
    background-color: brown;
}

.legendStart {
    background-color: #928787;
}

.endMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.trophy {
    font-size: 5rem;
    margin-bottom: 15px;
}

.mainButton {
    width: 115px;
    height: 40px;
}

.optionButton {
    width: 115px;
    height: 40px;
    margin-top: 10px;
}

.rackButton {
    height: 40px;
    margin-top: 10px;
}

.Toastify__toast {
    padding: 18px;
}

.label {
    font-size: 0.9em;
}
.centralize {
    text-align: center;
}

.gameSpace {
    display: flex;
    margin: auto;
}

.Toastify__toast-container {
    width: 500px;
}

.Toastify__toast--success {
    background-color: #1a7537
}

.Toastify__toast--warning {
    background-color: #796202
}

.Toastify__toast--error {
    background-color: #bb2618
}

.Toastify__toast--info {
    background-color: #1272b3
}

.bag {
    display: flex;
    margin-top: 18px;
    color: #8e3737
}

.connection {
    margin: auto;
    display: flex;
    align-self: flex-end;
    margin-right: 0;
}

.bagLength {
    display: flex;
    align-items: flex-end;
    font-size: 16px;
    margin-left: 3px;
}

.bagPieceContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

.bagPieceItem {
    margin: 10px;
    width: 50px;
    height: 50px;
}

.numberLeft {
    font-size: 12px;
    text-align: center;
}

.bagItems {
    width: 860px;
    height: 385px;
    padding: 30px;
}

.has-text-warning {
    color: #dabd49;
}

.imp {
    color: red;
}
.piece {
    background-color: #e2db0e;
    height: 48px;
    width: 48px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: move;
}

.bp {
    height: 48px;
    width: 48px;
}

.piece > .value {
    position: absolute;
    bottom: 1px;
    right: 2px;
    font-size: 12px;
}

.piece > .letter {
    font-weight: bold;
    font-size: 30px;
}

#bagHome {
    padding: 30px;
    display: flex;
}

.board {
    display: flex;
    width: 765px;
    height: 765px;
    margin-top: 15px;
    flex-direction: column;
    border: 8px black solid;
}

.row {
    display: flex;
}

.tile {
    color: white;
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
    border: 0.5px black solid;
}

.pieceContainer {   
    display: flex;
    width: 50px;
    height: 50px;
    border: 0.5px black solid;
}


.tW {
    background-color: brown;
}


.dL {
    margin: auto;
    background-color: cornflowerblue;
}
.tL {
    margin: auto;
    background-color: rgb(39, 51, 160);
}

.dW {
    background-color: rgb(237, 143, 100);
}

.cT {
    background-color: #928787;
}

.tileOptions {
    display: flex;
    justify-content: space-between;
}

/* button {
    width: 100%;
    height: 100%;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	text-shadow:0px 1px 0px #154682;
} */

.tileOption {
    height: 40px;
    width: 65px;
}

.rackButtons {
    display: flex;
    justify-content: space-between;
    width: 354px;
    align-items: center;
}