.container {
    height: 100vh;
    display: flex;
    margin: auto;
    align-items: center;
}

.extras {
    display: flex;
    margin: auto;
    height: 750px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.scoresTable {
    width: 300px;
    display: flex;
    margin: auto;
    justify-content: center;
}
.rack {
    display: flex;
    margin: auto;
    flex-direction: column;
}
.rackPieces {
    display: flex;
    width: 354px;
    height: 54px;
    border: 2px black solid;
    margin: auto;
}

.boardContainer {
    width: 765px;
    height: 765px;
    display: flex;
    margin: auto;
    border: 8px black solid;
}

.mainButton {
    width: 115px;
    height: 40px;
}

.optionButton {
    width: 115px;
    height: 40px;
    margin-top: 10px;
}

.rackButton {
    height: 40px;
    margin-top: 10px;
}

.Toastify__toast {
    padding: 18px;
}

.label {
    font-size: 0.9em;
}
.centralize {
    text-align: center;
}

.gameSpace {
    display: flex;
    margin: auto;
}

.Toastify__toast-container {
    width: 500px;
}

.Toastify__toast--success {
    background-color: #1a7537
}

.Toastify__toast--warning {
    background-color: #796202
}

.Toastify__toast--error {
    background-color: #bb2618
}

.Toastify__toast--info {
    background-color: #1272b3
}

.bag {
    display: flex;
    margin-top: 18px;
    color: #8e3737
}

.connection {
    display: flex;
    align-self: flex-end;
    margin-right: 15px;
    margin-top: 5px;
}

.bagLength {
    display: flex;
    align-items: flex-end;
    font-size: 16px;
    margin-left: 3px;
}

.imp {
    color: red;
}
.piece {
    background-color: #e2db0e;
    height: 48px;
    width: 48px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    /* margin: 0 2px; */
    /* border: 2px solid #666666;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px #000;
    -moz-box-shadow: inset 0 0 3px #000;
    -ms-box-shadow: inset 0 0 3px #000;
    -o-box-shadow: inset 0 0 3px #000;
    box-shadow: inset 0 0 3px #000; */
    cursor: move;
}

.bp {
    height: 48px;
    width: 48px;
}

.piece > .value {
    position: absolute;
    bottom: 1px;
    right: 2px;
    font-size: 12px;
}

.piece > .letter {
    font-weight: bold;
    font-size: 30px;
}

.board {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.tile {
    color: white;
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
    border: 0.5px black solid;
}

.pieceContainer {   
    display: flex;
    width: 50px;
    height: 50px;
    border: 0.5px black solid;
}


.tW {
    background-color: brown;
}

.dL {
    margin: auto;
    background-color: cornflowerblue;
}
.tL {
    margin: auto;
    background-color: rgb(39, 51, 160);
}

.dW {
    background-color: rgb(237, 143, 100);
}


.tileOptions {
    display: flex;
    justify-content: space-between;
}

/* button {
    width: 100%;
    height: 100%;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	text-shadow:0px 1px 0px #154682;
} */

.tileOption {
    height: 40px;
    width: 65px;
}

.rackButtons {
    display: flex;
    justify-content: space-between;
    width: 354px;
    align-items: center;
}